<%- contentFor('content') %>
<h1>ID: <%= viewData.pokenea.id %></h1>
<h1>Nombre: <%= viewData.pokenea.name %></h1>
<h1>Altura: <%= viewData.pokenea.height %></h1>
<h1>Habilidad: <%= viewData.pokenea.abilitie %></h1>

<h1>Container: <%=viewData.container%></h1>